@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
	--primary: hsl(180, 29%, 50%);
	--body-background: hsl(180, 52%, 96%);
	--tag-background: hsl(180, 31%, 95%);
	--dark-grayish-cyan: hsl(180, 8%, 52%);
	--very-dark-grayish-cyan: hsl(180, 14%, 20%);
	--white: #fff;
	--black: #000;

	--shadow: 0px 10px 20px -10px hsla(180, 29%, 50%, 0.4);
	--border-radius: 5px;

	--max-width: 1100px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 93.75%;  /* (15 / 16) * 100 = 93.75 -> 1rem = 15px */
}

body {
    font-family: 'Spartan', sans-serif;
	background-color: var(--body-background);

    display: grid;
    grid-template-rows: 125px repeat(2, minmax(35px, min-content)) 1fr min-content;
    grid-template-columns: [full-start] 1fr [center-start] minmax(min-content, var(--max-width)) [center-end] 1fr [full-end];
}

body::before {
	content: '';
	grid-row: 1 / 3;
	grid-column: full-start / full-end;
	background-color: var(--primary);
	background-image: url('./static/images/bg-header-desktop.svg');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1100px) {
	body {
		grid-template-columns: [full-start] 70px [center-start] minmax(min-content, var(--max-width)) [center-end] 70px [full-end];
	}
}

@media only screen and (max-width: 900px) {
	html {
		font-size: 87.5%;
	}

	body {
		grid-template-rows: 120px repeat(3, minmax(40px, min-content)) 1fr min-content;
		grid-template-columns: [full-start] 50px [center-start] minmax(min-content, var(--max-width)) [center-end] 50px [full-end];
	}
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 81.25%;
	}

	body {
		grid-template-rows: 120px repeat(3, auto) 1fr min-content;
		grid-template-columns: [full-start] 20px [center-start] minmax(min-content, var(--max-width)) [center-end] 20px [full-end];
	}

	body::before {
		background-image: url('./static/images/bg-header-mobile.svg');
	}
}